<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629457073956-kpiqdvsdvsd3qva5kv4m4g65korl2sjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629457073956-kpiqdvsdvsd3qva5kv4m4g65korl2sjk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629457073956-5a70n860rlsm753nlu1ci76l2inuo8kq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALYao454aWFwK7mZcOHIZXrXZ999iu9mw</string>
	<key>GCM_SENDER_ID</key>
	<string>629457073956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kpi.claimreceiver</string>
	<key>PROJECT_ID</key>
	<string>fluttterflowtest</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttterflowtest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629457073956:ios:a836c83a3647b972cf25b1</string>
</dict>
</plist>